<div class="licenseList" flex layout="row">
  <md-content layout-padding flex>
    <md-input-container>
      <h4>License Name: </h4>
      <input flex type="string" ng-model="lcs.license.name" aria-label="name" />
    </md-input-container>
    <md-input-container>
      <h4>License Number: </h4>
      <input flex type="string" ng-model="lcs.license.number" aria-label="number" />
    </md-input-container>
    <div flex-gt-xs>
      <h4>Due Date: </h4><md-datepicker ng-model="lcs.license.duedate" md-placeholder="{{lcs.license.duedate | date : format : timezone}}"></md-datepicker>
    </div>
    <h4>License Due in: </h4>
    <p id="countdown" >

    </p>
    <md-input-container>
      <h5>Hours Needed: </h5>
      <input flex type="number" ng-model="lcs.license.hoursReq" aria-label="hoursReq" />
     </md-input-container>
    <md-input-container>
      <h5>Hours Completed:</h5>
      <input flex type="number" ng-model="lcs.license.hours" aria-label="hours" />
    </md-input-container>
  </md-content>
  <div class="knob" layout-padding flex>
    <ui-knob value="lcs.license.hours" options="lcs.options"></ui-knob>
    <div>
      <md-button class="md-raised md-warning" ng-click="lcs.save()">Save</md-button>
      <md-button class="md-raised md-warn" ng-click="lcs.delete()">Delete License</md-button>
    </div>
  </div>
</div>
